* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

.form-control::placeholder {
  color: #ffffff; /* Change to your desired placeholder text color */
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  z-index: 1000; /* Ensure it is above other elements */
  padding: 10px;
  text-align: center;
}

/* Custom scrollbar styles */
.scrollspy-example::-webkit-scrollbar {
    width: 12px;
}

.scrollspy-example::-webkit-scrollbar-track {
    background: #bda1ff;
}

.scrollspy-example::-webkit-scrollbar-thumb {
    background: #533991;
    border-radius: 10px;
}

.scrollspy-example::-webkit-scrollbar-thumb:hover {
    background: #785abf;
}